<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.twio142.podcasts</string>
	<key>category</key>
	<string>Information</string>
	<key>connections</key>
	<dict>
		<key>02B6F09C-8F26-4B86-A5CC-0F7B7C60ACEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E29F54C5-29F6-48FB-AC97-C0A76ABFA14D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2C5E1EA0-4C9E-4902-B920-AA96019CBE52</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AA4237C-F560-4D9B-90FA-DEA6CC12B5C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B000EC5-5381-48B5-B049-5ED89FB614D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2CB183A7-DF03-46E2-B51C-652E96A92A14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B000EC5-5381-48B5-B049-5ED89FB614D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>54952AA2-61D3-486A-AFD5-992BA8250BF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B000EC5-5381-48B5-B049-5ED89FB614D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5B0A875F-3139-4358-AF44-5436E9F3B665</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B000EC5-5381-48B5-B049-5ED89FB614D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6B000EC5-5381-48B5-B049-5ED89FB614D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02B6F09C-8F26-4B86-A5CC-0F7B7C60ACEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>twio142</string>
	<key>description</key>
	<string>Manage your podcasts with Pocket Casts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Podcasts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>trigger=${trigger:-podcasts} ./Podcasts</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Podcasts</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>podcasts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2AA4237C-F560-4D9B-90FA-DEA6CC12B5C1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pcq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>trigger=queue ./Podcasts</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Podcast Queue</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5B0A875F-3139-4358-AF44-5436E9F3B665</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./Podcasts $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B000EC5-5381-48B5-B049-5ED89FB614D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>podcasts</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E29F54C5-29F6-48FB-AC97-C0A76ABFA14D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:actionKeep}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>2C5E1EA0-4C9E-4902-B920-AA96019CBE52</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>02B6F09C-8F26-4B86-A5CC-0F7B7C60ACEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pcl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>trigger=latest ./Podcasts</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Podcast Latest</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2CB183A7-DF03-46E2-B51C-652E96A92A14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pcs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string>trigger=search ./Podcasts "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Podcast Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>54952AA2-61D3-486A-AFD5-992BA8250BF7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02B6F09C-8F26-4B86-A5CC-0F7B7C60ACEB</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>2AA4237C-F560-4D9B-90FA-DEA6CC12B5C1</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>2CB183A7-DF03-46E2-B51C-652E96A92A14</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>54952AA2-61D3-486A-AFD5-992BA8250BF7</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>5B0A875F-3139-4358-AF44-5436E9F3B665</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>6B000EC5-5381-48B5-B049-5ED89FB614D5</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>E29F54C5-29F6-48FB-AC97-C0A76ABFA14D</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Email</string>
			<key>label</key>
			<string>Pocket Casts Account</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>email</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Password</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>password</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/twio142/alfred-podcasts</string>
</dict>
</plist>
